@model Memorial

@{
    ViewData["Title"] = "Crie um novo memorial";
}

<style>
    .person-container {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 500px;
    }

    .person-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .person-info {
        flex: 1;
    }

    .person-name {
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 5px;
    }

    .edit-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        margin-left: 20px;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>
<div class="row text">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <div style="width:75%;height:25%;">
        <div class="form-group">
                <div class="person-container">
                    <img id="ProfilePicturePreview" style="max-width: 150px" />
                    <div class="person-info">
                        <div class="person-name">@Model.Name</div>
                        <a class="btn btn-outline-success float-right edit-button" asp-action="Edit" asp-route-id="@Model.Id">Editar memorial</a>
                        <a class="btn btn-outline-success float-right bi bi-share" asp-action="Edit" asp-route-id="@Model.Id"></a>
                    </div>
                </div>
        </div>

    </div>
    </div>
    <div class="col-md-8 offset-2" style="margin-top:100px;">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" style="max-width: 150px"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemorialPictureURL" class="control-label"></label>
                        <input asp-for="MemorialPictureURL" class="form-control" readonly>
                        <span asp-validation-for="MemorialPictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Historia" class="control-label"></label>
                        <input asp-for="Historia" class="form-control" readonly>
                        <span asp-validation-for="Historia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataFalecimento" class="control-label"></label>
                        <input asp-for="DataFalecimento" class="form-control" readonly>
                        <span asp-validation-for="DataFalecimento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Formacao" class="control-label"></label>
                        <input asp-for="Formacao" class="form-control" readonly>
                        <span asp-validation-for="Formacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Religiao" class="control-label"></label>
                        <input asp-for="Religiao" class="form-control" readonly>
                        <span asp-validation-for="Religiao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hobbies" class="control-label"></label>
                        <input asp-for="Hobbies" class="form-control" readonly>
                        <span asp-validation-for="Hobbies" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-outline-secondary" asp-action="Index">Mostre todos</a>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
        output.src = $("#MemorialPictureURL").val();
        })
    </script>
}